*{

}

body {
    display: block;
    align-items: baseline;
    height: 100px;
    text-align: justify;
    background-color: #f0f1f5;
}

nav {
display: flex;
flex: 100px;
flex-direction: row;
background-color: #294568;
justify-content: flex-end;
position: sticky;
top: 0;
line-height: 0;
}

.logo {
  width: 150px;
    align-self: flex-start;
}

.item {
  width: 80px;
  justify-content: flex-start;
  overflow: hidden;
}

.logo, .item {
  background-color: #028090;
  margin: 10px;
  line-height: 50px;
  text-align: center;
  curs
}

div.TopBanner {
  display: block;
  height: 15vw;
  background-position:center;
  background-size: 120vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/zRbKQOb.jpg);
}

img {
  display:block;
  width: 100%;
}

div.BannerText {
  padding-top: 1vw;
  text-align: center;
  font-size: min(2vw, 40px);
}

h1 {
  margin-bottom: 0;
}

p {
    margin-top: 0;
}

.flex-catgry {
  width: 50%;
}

.flex-card {
    width: 100%;
}
