* {
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/img/background_star.png");
    margin: auto;
    max-width: 1920px;
}


/* Top Header */

div.TopBanner {
    display: block;
    background-position: center;
    height: 15vw;
    background-size: 120vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/banner1.jpg");
}

div.BannerText {
    text-shadow: 1px 1px 1px black, 0 0 25px #afe9f8, 0 0 5px rgb(179, 173, 173);
    color: black;
    padding-top: 1vw;
    text-align: center;
    font-size: min(2vw, 40px);
}


/* Sticky Navigation */

nav {
    display: flex;
    flex: 100px;
    flex-direction: row;
    background-color: #294568;
    justify-content: space-between;
    position: sticky;
    top: 0;
    line-height: 0;
}

nav div {
    display: flex;
    flex: 100px;
    flex-direction: row;
}

nav div.right {
    justify-content: flex-end;
}

.logo {
    width: 150px;
    align-self: flex-start;
}

.item {
    width: 80px;
    justify-content: flex-start;
    overflow: hidden;
}

.logo,
.item {
    background-color: #028090;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}

.coolbuttons {
    background-color: #85798C;
}


/* flex card */

.flex-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 5px, black;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
}

.flextext {
    padding-top: 5vw;
    color: rgb(240, 241, 245);
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: max(2vw, 12px);
}

.fleximg {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fleximg img {
    border-radius: 20px;
}

.flex-card div {
    margin: 1rem;
}

.flex-card img {
    display: block;
    width: 100%;
    border-radius: 25px;
}


/* search results container */

.search-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    margin: 1rem 0;
}


/* sidebar */

.sidenav {
    flex-basis: 30%;
    height: 100%;
    margin: 1rem;
    overflow-x: hidden;
    border-radius: 1rem;
}

.sidenav a,
.sidenav button {
    text-decoration: none;
    display: block;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: rgb(194, 194, 194);
    font-weight: bold;
    padding: 8px;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: white;
}

.dropdown-container {
    display: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* products */

.product-container {
    width: 100%;
    margin: 1rem;
}

.filter-bar {
    background: rgba(255, 255, 255, 0.05);
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
}

.filters {
    float: right;
    margin-right: 0.5rem;
}

.filter-grp {
    display: inline-block;
    text-align: center;
    height: 100%;
    margin: 14px 1rem;
}

.filter-grp label,
.filter-grp select {
    color: rgb(194, 194, 194);
}

.product-search {
    display: inline-block;
    margin: auto;
}

#filter,
#sort {
    color: black;
}

.product-search input[type=text],
.product-search button {
    float: left;
    padding: 10px;
    border: none;
}

.product-search input[type=text] {
    width: 24rem;
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-search button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: grey;
}


/* products search results */

#products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    width: auto;
    height: auto;
    margin: 0.67rem 0;
    border-radius: 1rem;
    list-style-type: none;
}

.product-card {
    border: 5px solid rgba(0, 136, 169, 0.8);
    margin: 1rem 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
}

.product-card img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.product-card button {
    border: none;
    border-radius: 5px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: rgb(57, 131, 192);
    padding-bottom: 2px;
}

.product-card:hover {
    border-color: rgb(39, 193, 231);
    background-color: rgba(255, 255, 255, 0.356);
}

.product-card button:hover {
    background-color: rgb(62, 235, 226);
}

.product-card {
    cursor: pointer;
}


/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 3px solid rgba(0, 136, 169, 0.8);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* text-shadow: 1px 1px 2px black, 0 0 25px #afe9f8, 0 0 5px rgb(179, 173, 173); */
}

.footer div {
    display: block;
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    background-color: none;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.footer_left {
    margin: 10px;
    color: white;
    max-width: 200px;
}

.footer_center {
    margin: 10px;
    max-width: 200px;
}

.footer_right {
    margin: 10px 10px;
    color: white;
    max-width: 200px;
}


/* CSS to make social links appear in respective colours*/

.support a {
    color: #0088a9;
}

.support a:hover {
    color: rgb(38, 193, 231);
}

.footer_links a {
    color: #0088a9;
}

.footer_links a:hover {
    color: rgb(38, 193, 231);
}

h3 {
    color: rgba(0, 136, 169, 0.8);
}

.footersocial {
    padding-right: 20px;
}

.Youtube {
    color: red;
}

.facebook {
    color: navy;
}

.twitter {
    color: lightblue;
}

.instagram {
    color: purple;
}

.footer a:hover {
    color: azure;
}