body {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://i.pinimg.com/originals/cd/71/37/cd71375c7bc653b29dcf75a3c3b3d083.png");
    margin: auto;
    /* max-width: 1440px; */
}


/* Top Header */

div.TopBanner {
    display: block;
    background-position: center;
    height: 15vh;
    background-size: 120vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/zRbKQOb.jpg);
}

div.BannerText {
    text-shadow: 1px 1px 1px black, 0 0 25px #afe9f8, 0 0 5px rgb(179, 173, 173);
    color: black;
    padding-top: 1vw;
    text-align: center;
    font-size: min(2vw, 40px);
}


/* Sticky Navigation */

nav {
    display: flex;
    flex: 100px;
    flex-direction: row;
    background-color: #294568;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    line-height: 0;
}

.logo {
    width: 150px;
    align-self: flex-start;
}

.item {
    width: 80px;
    justify-content: flex-start;
    overflow: hidden;
}

.logo,
.item {
    background-color: #028090;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}

.coolbuttons {
    background-color: #85798C;
}


/* flex card */

.flex-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 5px, black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.flextext {
    padding-top: 5vw;
    color: rgb(240, 241, 245);
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: max(2vw, 12px);
}

.fleximg {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fleximg img {
    border-radius: 20px;
}


/* TODO: make image resize when width is larger/smaller 
or make image float in background, with text over top
*/

.flex-card div {
    margin: 1rem auto;
}


/* flex card cat */

.flex-catgry {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-card img {
    display: block;
    width: 100%;
}


/* category cards */

.card-catgry {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 20rem;
    background-color: rgba(150, 209, 255, 0.6);
    text-align: center;
    padding: 5px;
    margin: 1rem 1rem;
}

.card-catgry:hover {
    box-shadow: 0 8px 16px 0 rgba(208, 109, 255, 0.7);
}

.card-catgry img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}


/* search results container */

.search-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    margin: 1rem 0;
}


/* sidebar */

.sidenav {
    flex-basis: 20%;
    height: 100%;
    margin: 1rem;
    overflow-x: hidden;
    border-radius: 1rem;
}

.sidenav a,
.sidenav button {
    text-decoration: none;
    display: block;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: rgb(194, 194, 194);
    font-weight: bold;
    padding: 8px;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: white;
}

.dropdown-container {
    display: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* products */

.product-container {
    width: 100%;
    margin: 1rem;
}

.filter-bar {
    background: rgba(255, 255, 255, 0.05);
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
}

.filters {
    float: right;
    margin-right: 0.5rem;
}

.filter-grp {
    display: inline-block;
    text-align: center;
    height: 100%;
    margin: 14px 1rem;
}

.filter-grp label,
.filter-grp select {
    color: rgb(194, 194, 194);
}

.product-search {
    display: inline-block;
    margin: 10px 0px;
}

.product-search input[type=text],
.product-search button {
    float: left;
    padding: 5px;
    border: none;
}

.product-search input[type=text] {
    margin-left: 24px;
    width: 12rem;
}

.product-search button {
    cursor: pointer;
}


/* products search results */


/* TODO: make cards dynamically resize, fix shadows, round cards */

.products {
    display: flex;
    flex-flow: row wrap;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    margin: 0.67rem 0;
    border-radius: 1rem;
}

.product-card {
    border: 5px solid rgba(0, 136, 169, 0.8);
    margin: 1rem 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
}

.product-card img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.product-card button {
    border: none;
    border-radius: 5px;
    outline: 0;
    color: rgb(194, 194, 194);
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: rgb(57, 131, 192);
    padding-bottom: 2px;
}

.product-card:hover {
    border-color: rgb(39, 193, 231);
    background-color: rgba(255, 255, 255, 0.356);
}

.product-card button:hover {
    opacity: 0.6;
}

.product-card {
    cursor: pointer;
}


/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 3px solid rgba(0, 136, 169, 0.8);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer_left {
    display: inline;
    text-align: center;
    width: 50%;
    margin-left: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    background-color: none;
    margin-right: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #afe9f8, 0 0 5px rgb(179, 173, 173);
}

.footer_links a {
    color: #0088a9;
}

.footer_links a:hover {
    color: rgb(38, 193, 231);
}

.footer_center {
    display: block;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    background-color: none;
    color: white;
    text-shadow: 1px 1px 1px black, 0 0 25px #afe9f8, 0 0 5px rgb(179, 173, 173);
}

.support a {
    color: #0088a9;
}

.support a:hover {
    color: rgb(38, 193, 231);
}

.footer_right {
    display: block;
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    background-color: none;
    margin-right: 20px;
    color: white;
    padding-right: 10px;
    margin-left: 20px;
    width: 1200px;
    text-shadow: 1px 1px 1px black, 0 0 25px #afe9f8, 0 0 5px rgb(179, 173, 173);
}

h3 {
    color: rgba(0, 136, 169, 0.8);
}

.footersocial {
    padding-right: 20px;
}

.Youtube {
    color: red;
}

.facebook {
    color: navy;
}

.twitter {
    color: lightblue;
}

.instagram {
    color: purple;
}